#mymenu {
    float: left;
    padding: 100px 10px 0 10px;
    /* border: 1px solid red; */
    vertical-align: middle;
    text-align: center;
    background-color: black;
    width: 5%;
    height: 100%;
}

svg.mainsvg {
    color: white;
    margin-bottom: 50px;
    width: 70%;
    height: auto;
}

#home_container {
    display: inline-block;
    background-image: url('../img/background.jpg');
    width: 95%;
    height: 100%;
}

#main_page {
    float: left;
    width: 90%;
    height: 100%;
}

div#hello {
    color: whitesmoke;
    /* width: 70%; */
    margin: 12% 0 50px 15%;
    height: 80%;
    font-size: 80px;
}

#sns {
    display: inline-block;
    text-align: right;
    margin-top: 50px;
    width: 5%;
    height: 100%;
}

svg.snssvg {
    color: grey;
    margin-bottom: 20px;
    width: 40%;
    height: auto;
}